@page
@model ScheduleViewModel
@{
    ViewData["Title"] = "Расписание";
}
@*<h1>@ViewData["Title"]</h1>*@

<div id="app">
    <div class="calendar">
        @*<div class="title">
                <div class="month">November</div>
                <div class="year">2019</div>
            </div>*@

        <ul class="legend">
            @foreach (var item in Model.CalendarModel.Legend)
            {
                <li>
                    <div style="border-color: @item.ColorHex"></div> @item.Name.Split(" ").FirstOrDefault()
                </li>
            }

            <li><a class="edit" href="/@Request.QueryString.Value"></a></li>
        </ul>

        <ol class="days">
            @foreach (var day in Model.CalendarModel.Matrix)
            {
                <li class="day @(day.Date.Day == 5 || day.Date.Day == DateTime.Today.Day ? "today" : "")">
                    <div class="date">
                        <span class="weekday">@day.Date.ToString("dddd")</span>
                        <span class="month">@day.Date.ToString("MMMM")</span>
                        <span class="day">@day.Date.Day</span>
                        <span class="year">@day.Date.Year</span>
                    </div>
                    <div class="events">
                        @for (var i = 0; i < day.Events.Count; i++)
                        {
                            var isSame = i < day.Events.Count - 1 && day.Events[i].Date == day.Events[i + 1].Date;
                            var ev = day.Events[i];

                            <div class="event first @(isSame ? "same" : "") @(ev.Date < new DateTime(2019, 11, 28, 16, 00, 00) || ev.IsOutdated ? "outside" : "")" style="border-color: @ev.ColorHex">
                                <span class="type type-@ev.Type">(@ev.Type)</span>
                                <p>
                                    <span class="time">@ev.Date.ToString("HH:mm")</span> <b>@ev.Name</b>
                                </p>
                                <ol class="summary">
                                    @foreach (var (place, teacher) in ev.Summary)
                                    {
                                        <li>
                                            <span>@place</span>
                                            <span>@teacher</span>
                                        </li>
                                    }
                                </ol>
                            </div>
                        }
                    </div>
                </li>
            }
        </ol>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/css/calendar.min.css" />
}
